{% comment %} 
Renders a first word and second word

Accepts: 
- word1: {String} the first word
- word2: {String} the second word

Usage:
{% render "my-snippet", {word1: word1_variable, word2, word2_variable}  %}

{% endcomment %}
<p>This is coming from snppet! This is the 1st word: {{word1}} and this is the 2nd word: {{word2}}</p>

<script src="{{'my-snippet-script.js' |  asset_url}}" async></script>